version: 2.1

jobs:
  static-analysis:
    docker:
      - image: python:3.9
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            pip install -r requirements.txt
      - run:
          name: Run Flake8
          command: |
            pip install flake8
            flake8

  build:
    docker:
      - image: python:3.9
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            python3 -m venv env
            source env/bin/activate
            pip install --upgrade pip
            pip install -r requirements.txt
      - run:
          name: Run tests
          command: |
            source env/bin/activate
            coverage run -m pytest
            coverage report
      - run:
          name: Upload coverage report to Codecov
          command: |
            bash <(curl -s https://codecov.io/bash)
