version: 2.1


jobs:
  build:
    docker:
      - image: python:3.9
    steps:
      - checkout
      - run: 
          name: Install dependencies
          command: |
            python3 -m venv env
            source env/bin/activate
            pip install --upgrade pip
            pip install -r requirements.txt
      - run:
          name: Setup build
          command: |
            source env/bin/activate
            python setup.py build
  
  lint:
    docker:
      - image: python:3.9
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            pip install -r requirements.txt
      - run:
          name: Run Flake8
          command: |
            pip install flake8
            flake8 --config=config/setup.cfg

  test:
    docker:
      - image: python:3.9
    working_directory: ~/pyvts
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            python3 -m venv env
            source env/bin/activate
            pip install --upgrade pip
            pip install -r requirements.txt
      - run:
          name: Run tests
          command: |
            source env/bin/activate
            coverage run -m pytest
            coverage report
      - run:
          name: Upload coverage report to Codecov
          command: |
            source env/bin/activate
            export CODECOV_CONFIG=codecov.yml
            bash <(curl -s https://codecov.io/bash)
  
  build_doc:
    docker:
      - image: python:3.9
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            pip install -r requirements.txt
            cd docs
            pip install -r requirements.txt
      - run:
          name: Build docs
          command: |
            cd docs
            make html
      - store_artifacts:
          path: /root/project/docs/_build/html
      - run:
          name: deploy
          command: |
            cd docs
            git config --global user.email "zhangkaiyuan.null@gmail.com"
            git config --global user.name "Genteki"
            git clone https://github.com/genteki/pyvts.git deploy
            cd deploy
            git checkout --orphan gh-pages
            git rm -rf .
            cp -r /root/project/docs/_build/html .
            touch .nojekyll
            git add -A
            git commit -m "Update documentation"
            git push --force --quiet origin gh-pages

workflows:
  CI:
    jobs:
      - build
      - lint
      - test
      - build_doc:
          requires:
            - build
            - test
